<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.sem.persistence.AccountBusinessMapper">

	<!-- 
	<cache />
 	-->
 	 <!-- TABELLA CLIENTI --> 
 	 
	<resultMap id="clienti" type="Clienti">
		<id property="id" column="id" />
		<result property="cliente" column="CLIENTI.cliente" />
		<result property="descrizione" column="CLIENTI.descrizione" />
		<result property="registratione" column="CLIENTI.registratione" />	
	</resultMap>
 
    <select id="selectClienti" parameterType="java.math.BigInteger" resultType="Clienti">
      SELECT 
       CLIENTI.CLIENTE,
       CLIENTI.DESCRIZIONE,
       CLIENTI.ID,
       CLIENTI.REGISTRAZIONE
       FROM CLIENTI 
       WHERE CLIENTI.ID=#{id}
    </select>
    
    <insert id="insertClienti" parameterType="Clienti">
      INSERT INTO CLIENTI
      (CLIENTI.cliente,CLIENTI.registrazione,CLIENTI.decrizione,CLIENTI.id)
      VALUES
      (#{cliente},#{registrazione},#{decrizione},#{id})
    </insert>
    
     <update id="updateClienti" parameterType="Clienti">
       UPDATE CLIENTI 
       <if test="cliente != null"> SET  CLIENTI.cliente=#{cliente},</if>
       <if test="registrazione != null">SET  CLIENTI.registrazione=#{registrazione},</if>
       <if test="decrizione != null">SET  CLIENTI.decrizione=#{decrizione}</if>
       WHERE CLIENTI.ID=#{id}
    </update>
    
    <delete id="deleteClienti" parameterType="Clienti">
       DELETE FROM CLIENTI 
       WHERE CLIENTI.ID=#{id}
    </delete>
 
    <select id="listClienti"  resultType="Clienti">
       SELECT 
         CLIENTI.CLIENTE,
         CLIENTI.DESCRIZIONE,
         CLIENTI.ID,
         CLIENTI.REGISTRAZIONE
         FROM CLIENTI 
         ORDER BY CLIENTI.REGISTRAZIONE,CLIENTI.ID
    </select>
   

</mapper>