<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.sem.persistence.ServerMapper">

	
 	 <!-- TABELLA SERVER --> 
 	 
	<resultMap id="server" type="Server">
		<id property="id" column="id" />
		<result property="registrazione" column="registrazione" />
		<result property="ip" column="ip" />	
		<result property="descrizione" column="descrizione" />
		<result property="nome" column="nome" />
	</resultMap>
	
	<insert id="insertServer" parameterType="Server">
	  INSERT INTO SERVER
	  (registrazione,descrizione,nome,ip)
	  VALUES
	  (CURRENT TIMESTAMP,#{descrizione},#{nome},#{ip})
	</insert>
	
	<update id="updateServer" parameterType="Server">
	  UPDATE SERVER
       SET descrizione=#{descrizione},nome=#{nome},ip=#{ip}
       WHERE id=#{id}
	</update>
	
	<delete id="deleteServer" parameterType="java.math.BigInteger">
	   DELETE FROM SERVER
	     WHERE id = #{id}   
	</delete>
	
	<select id="getServer" parameterType="java.math.BigInteger" resultMap="server">
	   SELECT registrazione,descrizione,nome,id,ip
	   FROM SERVER
	   WHERE id=#{id}
	</select>
	
	<select id="listServerCount"  resultType="int">
	   SELECT COUNT(REGISTRAZIONE)
	   FROM SERVER
	</select>
	
	<select id="listServer"  resultMap="server">
	   SELECT registrazione,descrizione,nome,id,ip
	   FROM SERVER
	   ORDER BY SERVER.REGISTRAZIONE,SERVER.ID
	</select>
	
</mapper>