<models>
<model classpath="com.seda.entrate.formulari.services.domain.Conservatoria" table="ANCONSTB">
  		<attribute column="SESOCI_CCODSOCI"   name="societa"   type="string"  pk="1" auto="0" >
  		  	<input form="1" type="string"/>
  		</attribute>
 		<attribute column="ANCONS_CCODCONSE"   name="codiceConservatoria"   type="string"  pk="2" auto="0">
 		  	<input form="2" type="string"/>
		</attribute> 		  
  		<attribute column="ANCONS_DDESCONSE" name="descrizioneConservatoria" type="string" >
  		 	<input form="3" type="string"/>
  		</attribute>
  		<attribute column="ANCONS_COPERINSE" name="operInserimento" type="string" ></attribute>
  		<attribute column="ANCONS_GDATAINSE" name="dataInserimento" type="date" ></attribute>
  		<attribute column="ANCONS_COPERUVAR" name="operVariazione" type="string" ></attribute>
  		<attribute column="ANCONS_GDATAUVAR" name="dataVariazione" type="date" ></attribute>
</model>

<mapper classpath="com.seda.entrate.formulari.services.persistence.Conservatoria" annotation="org.springframework.stereotype.Service"></mapper>

<myBatis classpath="com.seda.entrate.formulari.services.persistence.Conservatoria"></myBatis>

<service classpath="com.seda.entrate.formulari.services.service.Conservatoria" transaction="transactionManager"> </service>

<form classpath="com.seda.entrate.formulari.services.bind.Conservatoria"></form>

<controllerWS  classpath="com.seda.entrate.formulari.services.controller.Conservatoria"    baseurl="ANCONSTB"  pageNumber="1"   rowsPerPage="15"/>


</models>
