<models>
<model classpath="com.seda.entrate.formulari.domain.Comune">
  		<attribute column="SESOCI_CCODSOCI"   name="societa"   type="string"  pk="1" auto="1"></attribute>
 		<attribute column="ANCOMU_CCODBLEFIORE"   name="codiceBelfiore"   type="string"  pk="1" auto="1"></attribute>
  		<attribute column="ANCOMU_CCOMDESCRIZ" name="descrizioneComune" type="string" ></attribute>  
  		<attribute column="ANCOMU_GDATAINIZIOVAL" name="dataInizioValidita" type="date" ></attribute>
  		<attribute column="ANCOMU_CFLAGSOPPR" name="flagSospensione" type="string" ></attribute>
  		<attribute column="ANCOMU_CFLAGESTERO" name="flagStatoEstero" type="string" ></attribute>
  		<attribute column="ANPROV_CSIGLAPROV" name="siglaProvincia" type="string" ></attribute>
  		<attribute column="ANCOMU_CCODCAP" name="cap" type="string" ></attribute>
  		<attribute column="ANREGI_CCODREGIONE" name="codiceRegione" type="string" ></attribute>
  		<attribute column="ANNAZI_CCODNAZIONE" name="codiceNazione" type="string" ></attribute>
  		<attribute column="ANCOMU_CCODISTAT" name="codiceIstat" type="string" ></attribute>
  		<attribute column="ANCOMU_CCODCATASTO" name="codiceCatastale" type="string" ></attribute>
  		<attribute column="ANCOMU_CCODCAB" name="codiceCab" type="string" ></attribute>
  		<attribute column="ANCONS_CCODCONSE" name="conservatoria" type="string" ></attribute>
  		<attribute column="ANTRIB_CCODTRIB" name="codiceTribunale" type="string" ></attribute>
  		<attribute column="ANCOMU_GDATACESS" name="dataCessazione" type="date" ></attribute>
  		<attribute column="ANCOMU_COPERINSE" name="operInserimento" type="string" ></attribute>
  		<attribute column="ANCOMU_GDATAINSE" name="dataInserimento" type="date" ></attribute>
  		<attribute column="ANCOMU_COPERUVAR" name="operVariazione" type="string" ></attribute>
  		<attribute column="ANCOMU_GDATAUVAR" name="dataVariazione" type="date" ></attribute>
</model>

<mapper classpath="com.seda.entrate.formulari.persistence.ComuneMapper" annotation="org.springframework.stereotype.Service"></mapper>

<myBatis classpath="com.seda.entrate.formulari.persistence.ComuneMapper"></myBatis>

<service classpath="com.seda.entrate.formulari.service.ComuneService" transaction="transactionManager"> </service>
</models>
