package $model.getNamespace();
import java.io.Serializable;


public class $model.getName() implements Serializable{
     
#foreach($field in $model.getAttributes())
        private $field.printType() $field.getName();
#end
	
	
#foreach($field in $model.getAttributes())
        public  $field.printType() get$field.getNameUcase(){
           return this.$field.getName();
        }
    
        public void set$field.getNameUcase()($field.printType() $field.getName()){
           this.$field.getName()=$field.getName();
        }
#end
    
#set($lenght=$model.getAttributes().get(0))
        public String toString(){
           return " $model.getName() [$model.getAttributes().get(0).getName()=" +  $model.getAttributes().get(0).getName() + "
#foreach($field in $model.getAttributes())
#if($foreach.count>1)	
	          , $field.getName()=" + $field.getName() + "
#end
#end              ]";
        }
    
    
}

