#set($namespaces=$myBatisMapper.getClazz())
#set($table=$myBatisMapper.getTable())
#set($ModelLower=$myBatisMapper.getModel().getLowerName())
#set($ModelUpper=$myBatisMapper.getModel().getName())
#set($Count="Count")
#set($ById="ById")
#set($fields=$myBatisMapper.getModel().getAttributes())
#set($length=0)
#set($dot=".")
#set($count="Count")
#set($ByFilter="ByFilter")
#foreach($field in $fields)
#if($field.getPk()==0 && $field.isNotList())
#set($length=$length+1) 
#end
#end
#set($lengthPk=0)
#foreach($field in $fields)
#if($field.getPk()>0 && $field.isNotList())
#set($lengthPk=$lengthPk+1) 
#end
#end
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="$namespaces">

<resultMap id="$ModelLower" type="$ModelUpper">
#foreach($field in $fields)
#if($field.getPk()>0 && $field.isNotPkList())
   <id property="$field.getName()"   column="$field.getColumn()" />    
#end
#end
#foreach($field in $fields)
#if($field.getPk()==0 && $field.isNotList())
   <result property="$field.getName()" column="$field.getColumn()" />    
#end
#end
</resultMap>
	
<insert id="insert$ModelUpper" parameterType="$ModelUpper">
INSERT INTO $table
   (
    $myBatisMapper.getModel().getInsert()
   )VALUES	
   (
   $myBatisMapper.getModel().getValues()
    )
</insert>
	
<update id="update$ModelUpper" parameterType="$ModelUpper">
UPDATE $table
   $myBatisMapper.getModel().getSet()
   $myBatisMapper.getModel().getWhere()
</update>	

<delete id="delete$ModelUpper" parameterType="java.math.BigInteger">
DELETE FROM $table
$myBatisMapper.getModel().getWhere()  
</delete>	

<select id="get$ModelUpper" parameterType="java.math.BigInteger" resultMap="$ModelLower">
SELECT $myBatisMapper.getModel().getAll() 
FROM $table
$myBatisMapper.getModel().getWhere()  
</select>	


<select id="list$ModelUpper$Count"  resultType="int">
SELECT COUNT(*)
FROM $table
$myBatisMapper.getModel().getWhereFilter()
</select>	


<select id="list$ModelUpper"  resultMap="$ModelLower">
SELECT  $myBatisMapper.getModel().getAll()
FROM $table
$myBatisMapper.getModel().getOrder()
</select>


<select id="list$ModelUpper$ByFilter"  parameterType="$ModelUpper" resultMap="$ModelLower">
SELECT  $myBatisMapper.getModel().getAll()
FROM $table
$myBatisMapper.getModel().getWhereFilter()
$myBatisMapper.getModel().getOrder()
</select>

	
</mapper>