package $service.getClazz()
import  $service.getModel().getFullName();
import  $service.getModelMapper().getClazz();
import javax.inject.Inject;
import org.apache.ibatis.session.RowBounds;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;


@Service
public class $service.getName() {
	
	#set($ModelUpper=$service.getModelUpper())
	#set($ModelLower=$service.getModelLower())
	#set($mapper=$service.getMapperLower())
	#set($insert=".insert")
	#set($update=".update")
	#set($delete=".delete")
	#set($get=".get")
	#set($ById="ById")
	#set($Count="Count")
	#set($list=".list")
	#set($transactionManager=$service.getTransactionManager())
	
	@Inject private $service.getMapperUpper() $mapper;
	
	@Transactional("$transactionManager")
	public void insert$ModelUpper($ModelUpper $ModelLower) {
		$mapper$insert$ModelUpper($ModelLower);      
	}
	
	
	@Transactional("$transactionManager")
	public void update$ModelUpper($ModelUpper $ModelLower) {
		$mapper$update$ModelUpper($ModelLower);
	}
	
	@Transactional("$transactionManager")
	public void delete$ModelUpper($ModelUpper $ModelLower) {
		$mapper$delete$ModelUpper($ModelLower);
	}
	
	@Transactional("$transactionManager")
	public $ModelUpper  get$ModelUpper$ById($ModelUpper $ModelLower) {
		$ModelUpper tmp= $mapper$get$ModelUpper($ModelLower);
		return tmp;
		
	}
	
	@Transactional("$transactionManager")
	public int list$ModelUpper$Count() {
		int rowsNumber=$mapper$list$ModelUpper$Count();
		return rowsNumber;
		
	}
	
	@Transactional("$transactionManager")
	public List<$ModelUpper> list$ModelUpper(RowBounds rowBounds) {
		List<$ModelUpper> cl=$mapper$list$ModelUpper(rowBounds);
		return cl;
		
	}
	
	
	
	
}
