package $service.getNamespace();
import  $service.getModel().getFullName();
import  $service.getModelMapper().getClazz();
import javax.inject.Inject;
import java.util.List;
import org.apache.ibatis.session.RowBounds;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import it.seda.jdbc.commons.DefaultDataPage;
import java.util.ArrayList;


import it.seda.ws.restfull.data.WebServiceOutput;



@Service
public class $service.getName() {
	
	#set($ModelUpper=$service.getModelUpper())
	#set($ByFilter="ByFilter")
	#set($ModelLower=$service.getModelLower())
	#set($mapper=$service.getMapperLower())
	#set($insert=".insert")
	#set($update=".update")
	#set($delete=".delete")
	#set($get=".get")
	#set($ById="ById")
	#set($Count="Count")
	#set($list=".list")
	#set($transactionManager=$service.getTransactionManager())
	#set($WS="WS");
	#set($Count="Count");
	
	@Inject private $service.getMapperUpper() $mapper;
	
	@Transactional("$transactionManager")
	public void insert$ModelUpper($ModelUpper $ModelLower) {
		$mapper$insert$ModelUpper($ModelLower);      
	}
	
	
	@Transactional("$transactionManager")
	public void update$ModelUpper($ModelUpper $ModelLower) {
		$mapper$update$ModelUpper($ModelLower);
	}
	
	@Transactional("$transactionManager")
	public void delete$ModelUpper($ModelUpper $ModelLower) {
		$mapper$delete$ModelUpper($ModelLower);
	}
	
	@Transactional(value="$transactionManager",readOnly = true)
	public $ModelUpper  get$ModelUpper$ById($ModelUpper $ModelLower) {
		$ModelUpper tmp= $mapper$get$ModelUpper$ById($ModelLower);
		return tmp;
		
	}
	
	
	
	@Transactional(value="$transactionManager",readOnly = true)
	public List<$ModelUpper> list$ModelUpper(RowBounds rowBounds) {
		List<$ModelUpper> cl=$mapper$list$ModelUpper(rowBounds);
		return cl;
		
	}
	
	@Transactional(value="$transactionManager",readOnly = true)
	public WebServiceOutput  list$ModelUpper$ByFilter($ModelUpper $ModelLower,RowBounds rowBounds) {
	  List<$ModelUpper> list=$mapper$list$ModelUpper$ByFilter($ModelLower,rowBounds);
	  DefaultDataPage<$ModelUpper> editOutPage =  new DefaultDataPage<$ModelUpper>(list);
	  
	  int totalRows=$mapper$list$ModelUpper$Count($ModelLower);
	  
	  WebServiceOutput listOutput = new WebServiceOutput();
	  listOutput.setModelName("listaContribuentiServizio");
      listOutput.setOrderBy("codice fiscale");
      listOutput.setStatus("ok");
      listOutput.setValue("");
	  listOutput.buildDataPage(editOutPage,rowBounds.getLimit(),rowBounds.getOffset(),totalRows);
      listOutput.setElementList(list);
      return listOutput;
	}
	
	
	
	
	@Transactional("$transactionManager")
	public WebServiceOutput  get$ModelUpper$ById$WS($ModelUpper $ModelLower) {
		$ModelUpper tmp= $mapper$get$ModelUpper$ById($ModelLower);

	  List<$ModelUpper>  listEdit=new ArrayList<$ModelUpper>();
	  listEdit.add(tmp);
	  
	  DefaultDataPage<$ModelUpper> editOutPage =  new DefaultDataPage<$ModelUpper>(listEdit);
	  
	  WebServiceOutput editOutput = new WebServiceOutput();
	  editOutput.setModelName("listaContribuentiServizio");
      editOutput.setOrderBy("codice fiscale");
      editOutput.setStatus("ok");
      editOutput.setValue("");
	  editOutput.buildDataPage(editOutPage,1, 15,1);
      editOutput.setElementList(listEdit);
	  
     return editOutput;
		
	}
	
}
