@CHARSET "ISO-8859-1";
#Container{
width:1280px;
height:720px;
min-height:720px;
max-width:1024px;
margin:auto;
}
#Header{
height:14%;
}
#HeaderLeft{
float:left;
width:70%;
height:100%;
background-color:gray;
}
#HeaderRight{
float:left;
width:30%;
height:100%;
background-color:green;
}
#Context{
height:72%;
}
#ContextLeft{
float:left;
width:85%;
height:100%;
background-color:red;
}
#ContextTop{
height:50%;
}
#ContextBottom{
height:50%;
}
#ContextRight{
float:left;
width:15%;
height:100%;
background-color:orange;
}
#footer{
height:14%;
background-color:blue;
}