package #forms;

#foreach($package in $formsPackages)
import $package
#end


public class Form#Name{

    #foreach($field in $formFields)
      $field.annotation
      private $field.type $field.name;
    #end
    
	#foreach($field in $formFields)
	        
      public  $field.type get#field.Name(){
       return this.$field.name;
      }
      
       public void set#field.Name($field.type $field.name){
       this.$field.name=$field.name;
      }
    #end
    
    
    public String toString() {
    
    return " Form#Name [
    $firstFormName=" + $firstFormName + "
    #foreach($field in $formFieldsWithOutFirst)	
		, $field.name=" + $fiels.name + "
    #end
    ]";
    }
    

}
